
#container
{
    width: 100%;
    height: 100%;
}
body,
html
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    /*background: unset !important;*/
    font: 100 24px "Consolas", sans-serif;
    color: black;

}


#blocker {
    width:99%;
    height: 99%;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    border: 5px solid #37B34A;
    background-color: #c1c1c1 !important;
}

#blocker div {
    width: 100%;
    font: 100 24px "Consolas", sans-serif;
    color: rgb(255,255,255);
    margin-top: -20px;
    max-width: 300px;
    text-align: center;
    overflow-wrap: break-word;
}
.highcharts-hint {
    color: var(--main-object-fill-color-inversed);
}

.file-input-container {
    position: relative;
    margin-top: 40px !important;
    background-color: var(--main-object-fill-color-inversed);
    border: 2px solid var(--main-object-fill-color);
    color: black !important;
}

#blocker {
    flex-direction: column;
}