.window-forecasting{
    position: absolute;
    left: 10%;
    top: 10px;
    /*background-color: var(--small-object-fill-color);*/
    background-color: #c8c8c8;
    /*border: 2px solid rgba(255, 255, 255, 0.5);*/
    border: 4px solid rgba(0, 0, 0, 0.5);
    display: none;
    /*color: var(--main-object-fill-color-inversed);*/
    color: black;
}
.window-forecasting-head-selected-name{
    display: inline;
}
.window-forecasting-head{
    margin: 10px 10px;
}
.window-forecasting-body{
    margin: 10px 10px;
    display: flex;
}
.window-forecasting-body td, .window-forecasting-body th{
    padding-right: 5px;
    /*border: 2px solid rgba(255, 255, 255, 0.5);*/
    border: 4px solid rgba(0, 0, 0, 0.5);
}
.window-forecasting-body table{
    border-collapse: collapse;
}
/*.window-forecasting-body td*/
.window-forecasting-left-side{
    /*margin-right: 5px;*/
    padding-right: 5px;
    /*border-right: 1px solid var(--main-object-fill-color-inversed);;*/
    border-right: 3px solid rgba(0, 0, 0, 0.5);
}
.window-forecasting-right-side{
    padding-left: 5px;
    /*border-left: 1px solid var(--main-object-fill-color-inversed);;*/
    border-left: 3px solid rgba(0, 0, 0, 0.5);
}
.window-forecasting-left-side-head, .window-forecasting-right-side-head{
    margin-bottom: 5px;
}