:root
{
	/*
	Main
	*/
	--body-bg-color: rgba(20, 20, 20, 1);
	/*gridcell */
	--rg-cell-htag-bg: rgba(31, 31, 31, 1);
	--rg-cell-htag-color: rgba(80, 189, 255, 1);
	--rg-cell-hpath-bg: rgba(28, 28, 28, 1);
	--rg-cell-hpath-color: rgba(80, 189, 255, 1);
	--rg-cell-caption: #c1c1c1;
	--rg-cell-orow-bg: rgba(12,12,11,1);
	--rg-cell-orow-not-bg:rgba(0,0,0,0.85);
	--rg-cell-Erow-not-bg:rgba(3,3,3,0.85);
	--rg-cell-row-not-shadow:rgba(0,0,0,1);

	/*
	Underlayers
	*/
	--underlayer-air-color: rgba(0, 160, 230, 1);
	--underlayer-azot-color: rgba(100, 0, 205, 1);
	--underlayer-coagulant-color: rgba(50, 135, 45, 1);
	--underlayer-drain-color: rgb(139, 141, 156);
	--underlayer-dt-color: rgb(146, 142, 11);
	--underlayer-gas-color: hsla(45, 100%, 47%, 1);
	--underlayer-gas-hover-color: #815108;
	--underlayer-gas-full-hover-color: #2b2b2e;
	--underlayer-gasoline-color: rgba(185, 120, 185, 1);
	--underlayer-glycol-color: rgba(200, 100, 15, 1);
	--underlayer-gwsc-color: rgba(230, 180, 80, 1);
	--underlayer-gwss-color: rgba(215, 135, 200, 1);
	--underlayer-heatnet-color: rgb(255, 255, 255);
	--underlayer-jo-color: rgba(35, 70, 200, 1);
	--underlayer-k-color: #6e6964;
	--underlayer-kerosene-color: rgba(109, 69, 155, 1);
	--underlayer-nglycol-color: rgba(120, 10, 10, 1);
	--underlayer-ntag-color: rgba(40, 110, 165, 1);
	--underlayer-ntag1-color: rgb(169, 41, 41);
	--underlayer-oilproduct-color: rgba(128, 0, 0, 1);
	--underlayer-prrunoff-color: rgba(50, 135, 45, 1);
	--underlayer-rglycol-color: rgba(200, 100, 15, 1);
	--underlayer-rtag-color: rgba(168, 75, 80, 1);
	--underlayer-solute-color: rgba(128, 0, 128, 1);
	--underlayer-techwater-color: rgba(35, 150, 185, 1);
	--underlayer-uvjk-color: rgba(90, 255, 90, 1);
	--underlayer-vms-color: rgba(135, 68, 42, 1);
	--underlayer-warmth-color: rgba(255, 160, 160, 1);
	--underlayer-water-color: #414da0;
	--underlayer-oreols-color: rgba(27, 27, 27, 0.95);
	--underlayer-table-color: rgba(255, 255, 255, 0.5);
	/*
	Elements
	*/
	--main-object-fill-color: rgba(45, 45, 48, 1);
	--main-object-fill-color-inversed: rgba(220, 220, 220, 1);
	--main-object-shadow-015-color: rgba(0, 0, 0, 0.25);
	--main-object-shadow-100-color: rgba(255, 255, 255, 0.13);
	--main-object-stroke-color: rgba(15, 15, 15, 1);
	--main-object-on-dark-shadow-color: rgba(0, 0, 0, 0.32);

	--main-txt-color-a0: rgba(255, 255, 255, 0.8);

	--main-txt-color-inversed-a0: rgba(210, 210, 210, 1);
	--main-txt-color-inversed-a1: rgba(180, 255, 70, 1);
	--main-txt-color-inversed-a2: rgba(255, 145, 0, 1);
	--main-txt-color-inversed-a3: rgba(255, 200, 0, 1);
	--main-txt-color-inversed-a4: rgba(160, 160, 160, 1);
	--main-txt-color-inversed-a5: rgba(255, 70, 70, 1);

	--toggle-fill-color-a0: rgba(30, 30, 30, 1);
	--toggle-fill-color-a1: rgba(110, 255, 70, 1);
	--toggle-fill-color-a2: rgba(255, 145, 0, 1);
	--toggle-fill-color-a3: rgba(255, 220, 0, 1);
	--toggle-fill-color-a4: rgba(200, 200, 200, 1);
	--toggle-fill-color-a5: rgba(255, 50, 50, 1);
	--toggle-fill-color-a6: rgba(50, 50, 200, 1);
	--toggle-fill-color-a7: rgba(80, 20, 80, 1);
	--toggle-fill-color-a8: rgba(135, 45, 120, 1);
	--toggle-fill-color-a9: rgba(135, 20, 25, 1);
	--toggle-fill-color-a10: rgba(65, 105, 45, 1);
	--toggle-fill-color-a11: rgba(20, 110, 60, 1);
	--toggle-fill-color-a12: rgba(0, 80, 85, 1);
	--toggle-fill-color-a13: rgba(0, 55, 95, 1);


	--small-object-fill-color: rgba(50, 50, 53, 1);

	--flame-color: rgba(255, 65, 10, 1);
	/*
    Num-value-box
    */
	--num-value-bg-color: rgba(20, 20, 20, 1);
	--num-value-bg-shade: rgba(255, 255, 255, 0);
	--num-value-hatch-class-unreachable-color: 150, 150, 150, 1;
	--num-value-hatch-opacity: 0.3;
	--num-value-linecolor-unknown: rgba(255, 255, 255, 1);
	--num-value-linecolor-invis: rgba(0, 0, 0, 0);
	--num-value-linecolor-awful: rgba(255, 0, 0, 1);
	--num-value-linecolor-bad: rgba(200, 200, 50, 1);
	--num-value-linecolor-ok: rgba(151, 151, 151, 1);
	--num-value-numcolor-ok: rgba(255, 255, 255, 1);
	--num-value-numcolor-bad: rgba(200, 200, 50, 1);
	--num-value-numcolor-awful: rgba(255, 0, 0, 1);
	--num-value-numshade: rgba(0, 0, 0, 0.6);
	/*
    Barrel-additional-elems
    */
	--barrel-additional-elem-opacity: 0.6;
	/*
    Unique
    */
	/*
    Background-for-quarry-graph
    */
	--bg-for-quarry-graph-hatch-color: 190, 190, 190, 0.08;
	/*
    Big-barrels
    */
	--bigbarrel-dirtygas: rgb(76, 73, 55);
	--bigbarrel-absorbent: rgb(103, 162, 157);
	--bigbarrel-puregas: rgb(117, 138, 104);
	--bigbarrel-net-color: rgba(15, 15, 15, 1);
	/*
    Charts
    */
	--charts-main-bg-color: rgba(255, 255, 255, 0.04);
	/*
    GIS
    */
	--charts-gis-series-color-0: rgb(255, 102, 46);
	--charts-gis-series-color-1: rgb(141, 255, 57);
	--charts-gis-series-color-2: rgb(81, 205, 255);
	--charts-gis-series-color-3: rgb(255, 200, 48);

	--charts-gis-band-color: rgba(81, 205, 255, 0.2);
	/*
    Cooler
    */
	--cooler-active-on-color: rgba(175, 255, 240, 1);
	--cooler-active-off-color: rgba(255, 255, 255, 0.7);
	--cooler-active-error-color: rgba(255, 70, 70, 1);
	/*
    Levels
    */
	--level-botbar-color: #6e6e6e;
	--level-botpart-color: #6e6e6e;
	--level-topbar-color: #961414;
	--level-toppart-color: #961414;
	--level-for-barrels-self-fill: rgba(15, 15, 15, 1);
	--levels-filler-color: rgba(185, 215, 210, 1);

	--levels-filler-color-ok: rgba(185, 215, 210, 1);
	--levels-filler-color-bad: rgba(200, 200, 50, 1);
	--levels-filler-color-awful: rgba(255, 0, 0, 1);

	--level-for-barrels-contur-fill-ok: rgba(70, 70, 70, 1);
	--level-for-barrels-contur-fill-bad: rgba(200, 200, 50, 1);
	--level-for-barrels-contur-fill-awful: rgba(255, 0, 0, 1);
	/*
    Meter
    */
	--meter-glass-color: rgba(55, 60, 60, 1);
	--meter-shadow-intensity: 0.10;
	--meter-bad: rgb(138, 62, 62);
	--meter-so: rgba(247, 180, 9, 0.52);
	--meter-good: rgb(75, 101, 64);
	/*
    Namings
    */
	--naming-txt-shadow-color: rgba(0, 0, 0, 0.4);
	/*
    Pipe-profile
    */
	--pipe-profile-perforation-zone-color: rgb(75, 101, 64);
	--pipe-profile-nkt-color: rgba(255, 0, 0, 0.5);
	--pipe-profile-colomn-hover-color: rgb(89, 89, 89);
	/*
    State-displayer
    */
	--state-disp-fontsize: 15px;
	--state-disp-lineheight: 17px;
	/*
    Switcher-naming
    */
	--switcher-naming-on-bg-color: rgba(30, 120, 30, 1);
	--switcher-naming-off-bg-color: rgba(120, 30, 30, 1);
	--switcher-naming-hatch-color: 255, 255, 255, 0.3;
	/*
    Tit-elems
    */
	--tit-name-cont-bg-color: rgb(35, 35, 35);
	--tit-name-cont-txt-color: rgba(220, 220, 220, 1);
	--tit-on-dark-name-cont-bg-color: rgb(37, 37, 37);
	--tit-on-dark-name-cont-txt-color: rgba(220, 220, 220, 1);
	/*
    Transition-buttons
    */
	--transition-button-txt-color: rgba(230, 230, 230, 1);
	--transition-button-txt-shadow-color: rgb(31, 31, 31);
	--transition-button-unactive-part-color: rgba(40, 40, 40, 1);
	/*
    PDF_LAYER
    */
	--pdf-layer-main: rgba(210, 210, 210, 1);
	--pdf-layer-lightblue: rgba(100, 210, 255, 1);
	--pdf-layer-blue: rgba(50, 120, 255, 1);
	--pdf-layer-red: rgba(240, 0, 0, 1);
	--pdf-layer-green: rgba(0, 255, 0, 1);
	/*
	System
	*/
	--sys-main-object-stroke-error: rgba(130, 30, 30, 1);
	--sys-unavailable-color: rgba(80, 80, 80, 0.3);
	--sys-unavailable-inversed-color: rgba(80, 80, 80, 0.3);
	--sys-unavailable-overlay: rgba(20, 20, 20, 0.2);

	--sys-numvalue-fontsize: 19px;
	--sys-numvalue-lineheight: 21px;
	--sys-tit-caption-fontsize: 14px;
	--sys-tit-caption-lineheight: 16px;
	--sys-tit-unit-fontsize: 11px;
	--sys-tit-unit-lineheight: 19px;

	--select-arrow: url('/Data/Styles/Sprites/arrow-white_theme.svg');
	--pointer-ico: url('/Data/Styles/Sprites/pointer-white_theme.svg');
}