:root
{
	/*
	EDITOR
	*/
	--editor-borderColor:rgba(100, 240, 100, 0.9);
	--editor-selectionColor:rgba(100, 240, 100, 0.4);
	--editor-selectionBorderColor:rgba(100, 240, 100, 0.9);
	--editor-highlightColor:rgba(120, 120, 120, 1);
	
	
	/*
	Main
	*/
		--body-bg-color: rgba(235, 235, 235, 1);
	/*
	Underlayers
	*/
		--underlayer-air-color: rgba(0, 160, 230, 1);
		--underlayer-azot-color: rgba(64, 0, 128, 1);
		--underlayer-coagulant-color: rgba(50, 110, 45, 1);
		--underlayer-drain-color: rgba(170, 171, 181, 1);
		--underlayer-dt-color: rgba(66, 66, 0, 1);
		--underlayer-gas-color: rgba(255, 188, 0, 1);
		--underlayer-gas-hover-color: rgba(255, 188, 0, 1);
		--underlayer-gas-full-hover-color: rgba(220, 190, 100, 1);
		--underlayer-gasoline-color: rgba(230, 130, 230, 1);
		--underlayer-glycol-color: rgba(158, 82, 13, 1);
		--underlayer-gwsc-color: rgba(230, 180, 80, 1);
		--underlayer-gwss-color: rgba(255, 110, 225, 1);
		--underlayer-heatnet-color: rgba(0, 0, 0, 1);
		--underlayer-jo-color: rgba(20, 45, 155, 1);
		--underlayer-k-color: rgba(110, 105, 100, 1);
		--underlayer-kerosene-color: rgba(109, 69, 155, 1);
		--underlayer-nglycol-color: rgba(73, 5, 5, 1);
		--underlayer-ntag-color: rgba(68, 75, 157, 1);
		--underlayer-ntag1-color: rgba(73, 5, 5, 1);
		--underlayer-oilproduct-color: rgba(128, 0, 0, 1);
		--underlayer-prrunoff-color: rgba(50, 110, 45, 1);
		--underlayer-rglycol-color: rgba(158, 82, 13, 1);
		--underlayer-rtag-color: rgba(139, 126, 82, 1);
		--underlayer-solute-color: rgba(128, 0, 128, 1);
		--underlayer-techwater-color: rgba(25, 110, 135, 1);
		--underlayer-uvjk-color: rgba(0, 220, 0, 1);
		--underlayer-vms-color: rgba(135, 68, 42, 1);
		--underlayer-warmth-color: rgba(255, 160, 160, 1);
		--underlayer-water-color: rgba(20, 45, 155, 1);

		--underlayer-oreols-color: rgba(235, 235, 235, 1);
		--underlayer-table-color: rgba(100, 100, 100, 1);
	/*
	Elements
	*/
		--main-object-fill-color: rgba(30, 30, 30, 1);
		--main-object-fill-color-inversed: rgba(220, 220, 220, 1);
		--main-object-shadow-015-color: rgba(0, 0, 0, 0.15);
		--main-object-shadow-100-color: rgba(0, 0, 0, 1);
		--main-object-stroke-color: rgba(255, 255, 255, 1);
		--main-object-on-dark-shadow-color: rgba(0, 0, 0, 0.8);

		--main-txt-color-a0: rgba(85, 85, 90, 1);

		--main-txt-color-inversed-a0: rgba(255, 255, 255, 1);
		--main-txt-color-inversed-a1: rgba(110, 255, 70, 1);
		--main-txt-color-inversed-a2: rgba(255, 145, 0, 1);
		--main-txt-color-inversed-a3: rgba(255, 200, 0, 1);
		--main-txt-color-inversed-a4: rgba(200, 200, 200, 1);
		--main-txt-color-inversed-a5: rgba(255, 70, 70, 1);

		--toggle-fill-color-a0: rgba(10, 10, 10, 1);
		--toggle-fill-color-a1: rgba(110, 255, 70, 1);
		--toggle-fill-color-a2: rgba(255, 145, 0, 1);
		--toggle-fill-color-a3: rgba(255, 220, 0, 1);
		--toggle-fill-color-a4: rgba(200, 200, 200, 1);
		--toggle-fill-color-a5: rgba(255, 70, 70, 1);
		--toggle-fill-color-a6: rgba(50, 50, 200, 1);
		--toggle-fill-color-a7: rgba(100, 25, 100, 1);
		--toggle-fill-color-a8: rgba(165, 35, 145, 1);
		--toggle-fill-color-a9: rgba(185, 20, 25, 1);
		--toggle-fill-color-a10: rgba(90, 155, 55, 1);
		--toggle-fill-color-a11: rgba(0, 140, 80, 1);
		--toggle-fill-color-a12: rgba(0, 110, 115, 1);
		--toggle-fill-color-a13: rgba(0, 65, 120, 1);


		--small-object-fill-color: rgba(30, 30, 30, 1);

		--flame-color: rgba(255, 50, 0, 1);
		/*
		Num-value-box
		*/
			--num-value-bg-color: rgba(20, 20, 20, 1);
			--num-value-bg-shade: rgba(0, 0, 0, 1);
			--num-value-hatch-class-unreachable-color: 255, 255, 255, 1;
			--num-value-hatch-opacity: 0.3;
			--num-value-linecolor-unknown: rgba(255, 255, 255, 1);
			--num-value-linecolor-invis: rgba(0, 0, 0, 0);
			--num-value-linecolor-awful: rgba(255, 0, 0, 1);
			--num-value-linecolor-bad: rgba(200, 200, 50, 1);
			--num-value-linecolor-ok: rgba(151, 151, 151, 1);
			--num-value-numcolor-ok: rgba(255, 255, 255, 1);
			--num-value-numcolor-bad: rgba(200, 200, 50, 1);
			--num-value-numcolor-awful: rgba(255, 0, 0, 1);
			--num-value-numshade: rgba(0, 0, 0, 0.6);
		/*
		Barrel-additional-elems
		*/
			--barrel-additional-elem-opacity: 0.6;
		/*
		Unique
		*/
			/*
			Background-for-quarry-graph
			*/
				--bg-for-quarry-graph-hatch-color: 190, 190, 190, 1;
			/*
			Big-barrels
			*/
				--bigbarrel-dirtygas: rgba(135, 130, 110, 1);
				--bigbarrel-absorbent: rgba(115, 135, 130, 1);
				--bigbarrel-puregas: rgba(190, 200, 190, 1);
				--bigbarrel-net-color: rgba(255, 255, 255, 1);
			/*
			Charts
			*/
				--charts-main-bg-color: rgba(0, 0, 0, 0.04);
				/*
				GIS
				*/
					--charts-gis-series-color-0: rgba(166, 60, 10, 1);
					--charts-gis-series-color-1: rgba(80, 166, 30, 1);
					--charts-gis-series-color-2: rgba(20, 140, 140, 1);
					--charts-gis-series-color-3: rgba(180, 135, 0, 1);

					--charts-gis-band-color: rgba(20, 140, 140, 0.2);
			/*
			Cooler
			*/
				--cooler-active-on-color: rgba(200, 255, 255, 1);
				--cooler-active-off-color: rgba(255, 255, 255, 0.7);
				--cooler-active-error-color: rgba(255, 70, 70, 1);
			/*
			Levels
			*/
				--level-botbar-color: rgba(103, 103, 103, 1);
				--level-botpart-color: rgba(148, 148, 148, 1);
				--level-topbar-color: rgba(117, 0, 0, 1);
				--level-toppart-color: rgba(167, 0, 0, 1);
				--level-for-barrels-self-fill: rgba(15, 15, 15, 1);
				--levels-filler-color: rgba(135, 225, 210, 1);

				--levels-filler-color-ok: rgba(135, 225, 210, 1);
				--levels-filler-color-bad: rgba(200, 200, 50, 1);
				--levels-filler-color-awful: rgba(255, 0, 0, 1);

				--level-for-barrels-contur-fill-ok: rgba(100, 100, 100, 1);
				--level-for-barrels-contur-fill-bad: rgba(200, 200, 50, 1);
				--level-for-barrels-contur-fill-awful: rgba(255, 0, 0, 1);
			/*
			Meter
			*/
				--meter-glass-color: rgba(210, 215, 220, 1);
				--meter-shadow-intensity: 0.25;
				--meter-bad: rgba(200, 70, 0, 1);
				--meter-so: rgba(220, 160, 50, 1);
				--meter-good: rgba(255, 220, 70, 1);
			/*
			Namings
			*/
				--naming-txt-shadow-color: rgba(255, 255, 255, 0.4);
			/*
			Pipe-profile
			*/
				--pipe-profile-perforation-zone-color: rgba(0, 255, 0, 1);
				--pipe-profile-nkt-color: rgba(255, 0, 0, 0.5);
				--pipe-profile-colomn-hover-color: rgba(255, 0, 0, 1);
			/*
			State-displayer
			*/
				--state-disp-fontsize: 15px;
				--state-disp-lineheight: 17px;
			/*
			Switcher-naming
			*/
				--switcher-naming-on-bg-color: rgba(0, 150, 0, 0.3);
				--switcher-naming-off-bg-color: rgba(150, 0, 0, 0.3);
				--switcher-naming-hatch-color: 50, 50, 50, 0.3;
			/*
			Tit-elems
			*/
				--tit-name-cont-bg-color: rgba(240, 240, 240, 1);
				--tit-name-cont-txt-color: rgba(0, 0, 0, 1);
				--tit-on-dark-name-cont-bg-color: rgba(35, 35, 40, 1);
				--tit-on-dark-name-cont-txt-color: rgba(255, 255, 255, 1);
			/*
			Transition-buttons
			*/
				--transition-button-txt-color: rgba(255, 255, 255, 1);
				--transition-button-txt-shadow-color: rgba(78, 78, 81, 1);
				--transition-button-unactive-part-color: rgba(220, 220, 220, 1);
			/*
			PDF_LAYER
			*/
				--pdf-layer-main: rgba(0, 0, 0, 1);
				--pdf-layer-lightblue: rgba(0, 180, 255, 1);
				--pdf-layer-blue: rgba(0, 50, 150, 1);
				--pdf-layer-red: rgba(200, 0, 0, 1);
				--pdf-layer-green: rgba(0, 150, 0, 1);
	/*
	System
	*/
		--sys-main-object-stroke-error: rgba(255, 70, 70, 1);
		--sys-unavailable-color: rgba(80, 80, 80, 0.3);
		--sys-unavailable-inversed-color: rgba(180, 180, 180, 0.3);
		--sys-unavailable-overlay: rgba(235, 235, 235, 0.3);

		--sys-numvalue-fontsize: 19px;
		--sys-numvalue-lineheight: 21px;
		--sys-tit-caption-fontsize: 14px;
		--sys-tit-caption-lineheight: 16px;
		--sys-tit-unit-fontsize: 11px;
		--sys-tit-unit-lineheight: 19px;

		--select-arrow: url('/Data/Styles/Sprites/arrow-white_theme.svg');
		--pointer-ico: url('/Data/Styles/Sprites/pointer-white_theme.svg');
}