:root
{
	/*
	Main(wtf-done)
	*/
	--body-bg-color: rgba(65, 125, 165, 1);
	/*gridcell */
	--rg-cell-htag-bg: rgb(67, 121, 157);
	--rg-cell-htag-color:#ffd250;
	--rg-cell-hpath-bg: rgb(62, 111, 145);
	--rg-cell-hpath-color: #ffb723;
	--rg-cell-caption: #D2DDE5;
	--rg-cell-orow-bg: rgba(57,117,156,1);
	--rg-cell-orow-not-bg:rgba(41,101,139,0.85);
	--rg-cell-Erow-not-bg:rgba(48,108,147,0.85);
	--rg-cell-row-not-shadow:rgba(18,78,117,0.85);


	/*
	Underlayers
	*/
	--underlayer-air-color: rgba(155, 225, 255, 1);
	--underlayer-azot-color: rgba(125, 20, 235, 1);
	--underlayer-coagulant-color: rgba(50, 185, 40, 1);
	--underlayer-drain-color: rgba(170, 171, 181, 1);
	--underlayer-dt-color: rgba(155, 155, 0, 1);
	--underlayer-gas-color: rgba(245, 215, 90, 1);
	--underlayer-gas-hover-color: rgba(105, 105, 45, 1);
	--underlayer-gas-full-hover-color: rgba(230, 230, 230, 1);
	--underlayer-gasoline-color: rgba(240, 115, 240, 1);
	--underlayer-glycol-color: rgba(158, 82, 13, 1);
	--underlayer-gwsc-color: rgba(215, 150, 20, 1);
	--underlayer-gwss-color: rgba(255, 165, 240, 1);
	--underlayer-heatnet-color: rgba(255, 255, 255, 1);
	--underlayer-jo-color: rgba(10, 30, 145, 1);
	--underlayer-k-color: rgba(110, 105, 100, 1);
	--underlayer-kerosene-color: rgba(100, 35, 170, 1);
	--underlayer-nglycol-color: rgba(150, 0, 0, 1);
	--underlayer-ntag-color: rgba(35, 90, 130, 1);
	--underlayer-ntag1-color: rgba(170, 55, 55, 1);
	--underlayer-oilproduct-color: rgba(180, 0, 0, 1);
	--underlayer-prrunoff-color: rgba(50, 185, 40, 1);
	--underlayer-rglycol-color: rgba(200, 100, 15, 1);
	--underlayer-rtag-color: rgba(168, 75, 80, 1);
	--underlayer-solute-color: rgba(160, 20, 160, 1);
	--underlayer-techwater-color: rgba(120, 175, 190, 1);
	--underlayer-uvjk-color: rgba(110, 255, 110, 1);
	--underlayer-vms-color: rgba(195, 80, 35, 1);
	--underlayer-warmth-color: rgba(255, 160, 160, 1);
	--underlayer-water-color: rgba(0, 30, 130, 1);

	--underlayer-oreols-color: rgba(65, 125, 165, 1);
	--underlayer-table-color: rgba(25, 40, 55, 1);
	/*
	Elements(wtf-done)
	*/
	--main-object-fill-color: rgba(25, 40, 55, 1);
	--main-object-fill-color-inversed: rgba(165, 210, 245, 1);
	--main-object-shadow-015-color: rgba(25, 40, 55, 0.15);
	--main-object-shadow-100-color: rgba(25, 40, 55, 1);
	--main-object-stroke-color: rgba(90, 150, 190, 1);
	--main-object-on-dark-shadow-color: rgba(0, 0, 0, 1);

	--main-txt-color-a0: rgba(255, 255, 255, 1);

	--main-txt-color-inversed-a0: rgba(255, 255, 255, 1);
	--main-txt-color-inversed-a1: rgba(110, 255, 80, 1);
	--main-txt-color-inversed-a2: rgba(255, 145, 0, 1);
	--main-txt-color-inversed-a3: rgba(255, 255, 0, 1);
	--main-txt-color-inversed-a4: rgba(200, 200, 200, 1);
	--main-txt-color-inversed-a5: rgba(255, 70, 70, 1);

	--toggle-fill-color-a0: rgba(30, 30, 30, 1);
	--toggle-fill-color-a1: rgba(110, 255, 70, 1);
	--toggle-fill-color-a2: rgba(255, 145, 0, 1);
	--toggle-fill-color-a3: rgba(255, 220, 0, 1);
	--toggle-fill-color-a4: rgba(200, 200, 200, 1);
	--toggle-fill-color-a5: rgba(255, 70, 70, 1);
	--toggle-fill-color-a6: rgba(0, 0, 255, 1);
	--toggle-fill-color-a7: rgba(130, 25, 130, 1);
	--toggle-fill-color-a8: rgba(195, 35, 170, 1);
	--toggle-fill-color-a9: rgba(225, 55, 55, 1);
	--toggle-fill-color-a10: rgba(65, 105, 45, 1);
	--toggle-fill-color-a11: rgba(0, 180, 100, 1);
	--toggle-fill-color-a12: rgba(0, 65, 65, 1);
	--toggle-fill-color-a13: rgba(0, 65, 120, 1);


	--small-object-fill-color: rgba(25, 40, 55, 1);

	--flame-color: rgba(255, 255, 0, 1);
	/*
    Num-value-box(wtf-done)
    */
	--num-value-bg-color: rgba(30, 30, 30, 1);
	--num-value-bg-shade: rgba(0, 80, 130, 0.5);
	--num-value-hatch-class-unreachable-color: 0, 80, 130, 1;
	--num-value-hatch-opacity: 0.3;
	--num-value-linecolor-unknown: rgba(255, 255, 255, 1);
	--num-value-linecolor-invis: rgba(0, 0, 0, 0);
	--num-value-linecolor-awful: rgba(255, 0, 0, 1);
	--num-value-linecolor-bad: rgba(200, 200, 50, 1);
	--num-value-linecolor-ok: rgba(151, 151, 151, 1);
	--num-value-numcolor-ok: rgba(255, 255, 255, 1);
	--num-value-numcolor-bad: rgba(200, 200, 50, 1);
	--num-value-numcolor-awful: rgba(255, 0, 0, 1);
	--num-value-numshade: rgba(0, 0, 0, 0.6);
	/*
    Barrel-additional-elems
    */
	--barrel-additional-elem-opacity: 0.6;
	/*
    Unique
    */
	/*
    Background-for-quarry-graph(wtf-done)
    */
	--bg-for-quarry-graph-hatch-color: 25, 40, 55, 0.6;
	/*
    Big-barrels(wtf-done)
    */
	--bigbarrel-dirtygas:rgba(225, 225, 80, 1);
	--bigbarrel-absorbent: rgba(135, 65, 70, 1);
	--bigbarrel-puregas: rgba(140, 195, 195, 1);
	--bigbarrel-net-color: rgba(115, 175, 215, 1);
	/*
    Charts(wtf-done)
    */
	--charts-main-bg-color: rgba(0, 0, 40, 0.25);
	/*
    GIS
    */
	--charts-gis-series-color-0: rgba(255, 75, 10, 1);
	--charts-gis-series-color-1: rgba(120, 255, 20, 1);
	--charts-gis-series-color-2: rgba(100, 210, 255, 1);
	--charts-gis-series-color-3: rgba(245, 245, 90, 1);

	--charts-gis-band-color: rgba(100, 210, 255, 0.2);
	/*
    Cooler
    */
	--cooler-active-on-color: rgba(175, 255, 240, 1);
	--cooler-active-off-color: rgba(255, 255, 255, 0.7);
	--cooler-active-error-color: rgba(255, 70, 70, 1);
	/*
    Levels(wtf-done)
    */
	--level-botbar-color: rgba(255, 255, 255, 1);
	--level-botpart-color: rgba(255, 255, 255, 1);
	--level-topbar-color: rgba(115, 40, 40, 1);
	--level-toppart-color: rgba(195, 75, 75, 1);
	--level-for-barrels-self-fill: rgba(25, 30, 40, 1);
	--levels-filler-color: rgba(170, 210, 240, 1);

	--levels-filler-color-ok: rgba(170, 210, 240, 1);
	--levels-filler-color-bad: rgba(200, 200, 50, 1);
	--levels-filler-color-awful: rgba(255, 0, 0, 1);

	--level-for-barrels-contur-fill-ok: rgba(90, 150, 190, 1);
	--level-for-barrels-contur-fill-bad: rgba(200, 200, 50, 1);
	--level-for-barrels-contur-fill-awful: rgba(255, 0, 0, 1);
	/*
    Meter(wtf-done)
    */
	--meter-glass-color: rgba(150, 185, 210, 1);
	--meter-shadow-intensity: 0.10;
	--meter-bad: rgba(155, 40, 40, 1);
	--meter-so: rgba(255, 50, 50, 1);
	--meter-good: rgba(255, 155, 155, 1);
	/*
    Namings(wtf-done)
    */
	--naming-txt-shadow-color: rgba(0, 0, 0, 0.4);
	/*
    Pipe-profile(wtf-done)
    */
	--pipe-profile-perforation-zone-color: rgba(100, 200, 255, 1);
	--pipe-profile-nkt-color: rgba(255, 0, 0, 0.5);
	--pipe-profile-colomn-hover-color: rgba(255, 0, 0, 1);
	/*
    State-displayer
    */
	--state-disp-fontsize: 15px;
	--state-disp-lineheight: 17px;
	/*
    Switcher-naming
    */
	--switcher-naming-on-bg-color: rgba(0, 150, 150, 0.3);
	--switcher-naming-off-bg-color: rgba(150, 0, 0, 0.3);
	--switcher-naming-hatch-color: 255, 255, 255, 0.3;
	/*
    Tit-elems(wtf-done)
    */
	--tit-name-cont-bg-color: rgba(165, 210, 245, 1);
	--tit-name-cont-txt-color: rgba(25, 40, 55, 1);
	--tit-on-dark-name-cont-bg-color: rgba(25, 40, 55, 1);
	--tit-on-dark-name-cont-txt-color: rgba(255, 255, 255, 1);
	/*
    Transition-buttons(wtf-done)
    */
	--transition-button-txt-color: rgba(255, 255, 255, 1);
	--transition-button-txt-shadow-color: rgba(25, 40, 55, 1);
	--transition-button-unactive-part-color: rgba(165, 210, 245, 1);
	/*
    PDF_LAYER
    */
	--pdf-layer-main: rgba(255, 255, 255, 1);
	--pdf-layer-lightblue: rgba(0, 250, 255, 1);
	--pdf-layer-blue: rgba(0, 30, 130, 1);
	--pdf-layer-red: rgba(255, 40, 40, 1);
	--pdf-layer-green: rgba(0, 255, 0, 1);
	/*
	System
	*/
	--sys-main-object-stroke-error: rgba(230, 75, 75, 1);
	--sys-unavailable-color: rgba(165, 210, 245, 0.2);
	--sys-unavailable-inversed-color: rgba(0, 0, 0, 0.3);
	--sys-unavailable-overlay: rgba(65, 125, 165, 0.3);

	--sys-numvalue-fontsize: 19px;
	--sys-numvalue-lineheight: 21px;
	--sys-tit-caption-fontsize: 14px;
	--sys-tit-caption-lineheight: 16px;
	--sys-tit-unit-fontsize: 11px;
	--sys-tit-unit-lineheight: 19px;

	--select-arrow: url('/Data/Styles/Sprites/arrow-white_theme.svg');
	--pointer-ico: url('/Data/Styles/Sprites/pointer-white_theme.svg');
}